.page-404 {
  padding: 40px 0;

  .page-404__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .page-404__title {
      font-size: 24px;
      margin-bottom: 40px;
    }

    .page-404__image {
      width: 335px;
      margin-bottom: 40px;
    }

    .page-404__text {
      color: var(--text-color);
      margin-bottom: 40px;
    }
  }
}
