.join {
  position: relative;
  overflow: hidden;

  .join__container {
    position: relative;
    z-index: 1;
    .join__content {
      padding: 120px 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .join__title {
        color: var(--accent-orange);
        text-transform: uppercase;
        font-size: 12px;
      }
      .join__subtitle {
        font-family: var(--font-secondary);
        font-size: 56px;
        text-align: center;
        line-height: 67.2px;
        margin-top: 20px;
      }
      .join__description {
        font-size: 19px;
        color: var(--accent-translucent-white);
        text-align: center;
        margin-top: 35px;
      }
      .join__link {
        margin-top: 35px;
      }
    }

    .join__slider {
      padding: 30px 0;
      z-index: 0;
      position: relative;
      overflow: hidden;
      .join__button {
        background: var(--bg-slider-btn);
        border-radius: 50%;
        width: 24px;
        height: 24px;
        opacity: 0.7;
        /* reset btn */
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        .join__icon {
          fill: var(--main-color);
          width: 12px;
          height: 12px;
        }
      }
      .join__button--prev {
        left: 2%;
      }

      .join__button--next {
        right: 2%;
      }
      .join__list {
        display: flex;
        gap: 20px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        .join__item {
          display: flex;
          flex: 0 0 100%;
          flex-direction: column;
          max-width: 300px;
          padding: 20px;
          .join__year {
            font-family: var(--font-secondary);
            font-size: 30px;
          }
          .join__year::after {
            content: '';
            display: block;
            height: 3px;
            width: 33px;
            background: var(--accent-magenta);
            margin: 10px 0;
          }
          .join__text {
            font-size: 16px;
            line-height: 24px;
            color: var(--text-color);
          }
        }
      }
    }
    .join__slider::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background: var(--bg-secondary-color);
      z-index: -1;
    }
  }
}

.join::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: url(../images/about/join.png) no-repeat center/cover;
  z-index: -2;
}
