.story__container {
  padding: 0 20px;
}

.story__title {
  display: flex;
  flex-direction: column;
  color: var(--text-light-grey);
  font-size: 18px;
  font-variant-caps: all-petite-caps;
}

.story__title-icon {
  color: var(--accent-pure-violet);
  font-size: 50px;
}

.story__text {
  margin-top: 40px;
  max-width: 650px;
}

.story__slogan {
  font-size: 18px;
}

.story__highlight {
  color: var(--accent-orange);
}

.story__paragraph {
  color: var(--text-color);
  margin-top: 25px;
  font-size: 16px;
}

.story__link {
  background: var(--button-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  width: 150px;
  border-radius: 30px;
  margin-top: 30px;
}

.story__link:hover {
  background: var(--button-hover-gradient);
}

.story__text__hidden {
  display: none;
}

@media screen and (min-width: 1280px) {
  .story__container {
    padding: 0 40px;
  }

  .story__content {
    display: flex;
    justify-content: space-between;
  }

  .story__slogan {
    font-size: 21px;
  }

  .story__text {
    margin-top: 30px;
  }
}
