.feedback {
}

.feedback__content {
}

.feedback__text {
}

.feedback__title {
  font-size: 30px;
}

.feedback__subtitle {
  font-size: 19px;
  color: var(--text-color);
}

.feedback__description {
}

.feedback__address {
}

.feedback__location {
}

.feedback__wrapper {
}

.feedback__icon {
}

.feedback__location-details {
}

.feedback__location-title {
}

.feedback__location-info {
}

.feedback__contact {
}

.feedback__contact-details {
}

.feedback__contact-title {
}

.feedback__contact-link {
}

.feedback__form {
}

.feedback__input {
}

.feedback__textarea {
}

.feedback__button {
}
