.feedback {
}

.feedback__content {
}

.feedback__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feedback__title {
  font-size: 30px;
}

.feedback__subtitle {
  font-size: 19px;
  color: var(--text-color);
}

.feedback__description {
  color: var(--text-color);
}

.feedback__address {
}

.feedback__location {
  display: flex;
  margin-bottom: 30px;
}

.feedback__wrapper {
  background-color: var(--light-shade-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.feedback__icon {
  width: 26px;
  height: 26px;
}

.feedback__location-details {
}

.feedback__location-title {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--accent-orange);
  font-style: normal;
}

.feedback__location-info {
  color: var(--text-color);
  font-style: normal;
}

.feedback__contact {
  display: flex;
}

.feedback__contact-details {
}

.feedback__contact-title {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--accent-orange);
  font-style: normal;
}

.feedback__contact-link {
  display: block;
  color: var(--text-color);
  font-style: normal;
}

.feedback__form {
}

.feedback__input {
}

.feedback__textarea {
}

.feedback__button {
}
