body.is-open {
  overflow: hidden;
}

.modal-window__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 998;
  padding: 15px;
  background-color: var(--bg-alfa);
  visibility: visible;
  opacity: 1;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.is-hidden .modal-window__wrapper {
  visibility: hidden;
  pointer-events: none;
  opacity: 0.3;
  transform: translate(-75%, -90%) scale(3);
}

.modal-window__wrapper {
  position: relative;
  z-index: 999;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 15px 20px;
  visibility: visible;
  opacity: 1;
  background: var(--bg-alfa);
  border-radius: 10px;
  border: 2px solid var(--accent-orange);
  box-shadow: 0 28px 42px var(--accent-translucent-black),
    0 20px 20px var(--accent-translucent-black);
}

@media screen and (min-width: 768px) {
  .modal-window__wrapper {
    width: 580px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-window__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 1200px;
    padding: 30px;
  }
}

.modal-window__modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal-window__modal-close-btn {
    top: 20px;
    right: 20px;
  }
}

.modal-window__modal-close-icon {
  fill: var(--accent-orange);
}

.modal-window__modal-close-icon:hover {
  fill: var(--main-color);
}

.modal-window__title {
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-orange);
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-window__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.modal-window__item {
  border-radius: 5px;
  background-color: var(--text-color);
  color: var(--main-color);
  position: relative;
  border-radius: 10px;
  padding-bottom: 5px;
  overflow: hidden;
}

.modal-window__item:hover,
.modal-window__item:focus {
  box-shadow: 0px 1px 3px var(--accent-translucent-black),
    0px 1px 1px var(--accent-translucent-black),
    0px 2px 1px var(--accent-translucent-black);
}

.modal-window__wrap {
  overflow: hidden;
}

.modal-window__img {
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 5px;
  width: 200px;
  height: 180px;
}

.modal-window__box {
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  margin-bottom: 3px;
}

.modal-window__member {
  font-weight: 700;
  font-size: 16px;
  color: var(--bg-color);
  margin-bottom: 10px;
}

.modal-window__role {
  font-weight: 500;
  font-size: 16px;
  color: var(--accent-orange);
  margin-bottom: 10px;
}

.modal-window__link-linkedin {
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: transparent;
  fill: var(--bg-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.modal-window__link-linkedin--active:hover,
.modal-window__link-linkedin--active:focus {
  background-color: var(--main-color);
  fill: var(--bg-color);
}

.modal-window__link-github {
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  fill: var(--bg-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.modal-window__link-github--active:hover,
.modal-window__link-github--active:focus {
  background-color: var(--main-color);
  fill: var(--bg-color);
}
