.popular-songs {
  padding: 60px 0;

  .popular-songs__header {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--line-color);
    }
  }

  @media screen and (min-width: 768px) {
    .popular-songs__header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media screen and (min-width: 1280px) {
    .popular-songs__header {
      justify-content: space-between;
      align-items: center;
    }
  }

  .popular-songs__title-icon {
    font-size: 30px;
    font-family: "Righteous", serif;
    color: var(--accent-magenta);
  }

  @media screen and (min-width: 768px) {
    .popular-songs__title-icon {
      font-size: 34px;
    }
  }

  @media screen and (min-width: 1280px) {
    .popular-songs__title-icon {
      font-size: 38px;
    }
  }

  .popular-songs__title {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--text-color);
  }

  .popular-songs__description {
    font-size: 18px;
    width: 327px;
    margin-top: 50px;

    .popular-songs__highlight {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  @media screen and (min-width: 768px) {
    .popular-songs__description {
      font-size: 19px;
      width: 270px;
      margin: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    .popular-songs__description {
      font-size: 21px;
      width: 450px;
      margin: 0;
    }
  }

  .popular-songs__slider {
    padding-top: 60px;
    position: relative;

    .popular-songs__button {
      background-color: transparent;
      border: none;
      position: absolute;
      top: 60%;
      transform: translateY(-50%);

      .popular-songs__icon {
        fill: var(--text-color);
        transition: fill 0.3s ease;
        width: 30px;
        height: 30px;
      }

      &:hover {
        fill: var(--main-color);
      }
    }

    .popular-songs__button--prev {
      left: -4%;
    }

    .popular-songs__button--next {
      right: -4%;
    }
  }

  .popular-songs__list {
    display: flex;
    gap: 30px;

    .popular-songs__image {
      width: 297px;
    }

    @media screen and (min-width: 768px) {
      .popular-songs__image {
        width: 322px;
      }
    }

    @media screen and (min-width: 1280px) {
      .popular-songs__image {
        width: 263px;
      }
    }

    .popular-songs__genre {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--accent-orange);
      margin-top: 10px;
    }

    .popular-songs__name {
      font-size: 22px;
      margin-top: 10px;
    }

    @media screen and (min-width: 768px) {
      .popular-songs__name {
        font-size: 23px;
      }
    }

    @media screen and (min-width: 1280px) {
      .popular-songs__name {
        font-size: 24px;
      }
    }

    .popular-songs__artist {
      color: var(--text-color);
      margin-top: 10px;
    }
  }
}
