.daily-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.daily-header {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.title {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.star {
  font-weight: bold;
  font-size: 42px;
  color: rgb(72, 88, 249);
}

.daily-program {
  font-size: 12px;
  font-weight: bold;
  color: rgb(219, 219, 219);
}

.daily-text {
  font-size: 21px;
  font-weight: 400;
  text-align: start;
  width: 400px;
}

.daily-table {
  display: flex;
  width: 70%;
  padding: 25px 35px;
  text-align: start;
  margin-top: 50px;
}

.daily-table table {
  width: 100%;
  font-size: 16px;
  border-collapse: collapse;
}

.daily-table table th,
td {
  padding: 25px 20px;
  text-align: start;
}

.daily-table table tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.463);
}

.daily-table table tr:last-child {
  border-bottom: none;
}

.time {
  color: rgb(255, 116, 51);
}

.day {
  color: white;
  font-weight: bold;
  width: 21%;
}

.normal-weight {
  font-weight: normal;
  color: rgb(219, 219, 219);
}

tbody {
  color: rgb(219, 219, 219);
}

.mobile-schedule {
  display: none;
}

@media screen and (max-width: 768px) {
  table {
    display: none;
  }

  .mobile-schedule {
    display: block;
  }

  .daily-container {
    width: 100vw;
    height: auto;
    padding: 0;
  }

  .star {
    font-size: 30px;
  }

  .title {
    font-size: 12px;
    gap: 0;
    padding: 0 15px;
  }

  .daily-text {
    width: 100%;
    margin-top: 50px;
    font-size: 18px;
    padding: 0 15px;
  }

  .daily-header {
    margin-top: 30px;
    flex-direction: column;
    width: 100%;
    padding: 0 15px;
    align-items: flex-start;
  }

  .daily-table {
    margin-top: 45px;
    width: 100%;
    padding: 0;
  }

  .mobile-schedule {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 25px 20px;
  }

  .mobile-header {
    display: flex;
    width: 100%;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.463);
    justify-content: space-around;
  }

  .mobile-line-header {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 25px 20px;
  }

  .day-schedule {
    color: #fff;
    padding: 16px;
    border-radius: 8px;
  }

  .time-slot {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.463);
    align-items: flex-start;
    width: 100%;
  }

  .time {
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    color: #ff6f00;
  }

  .program {
    font-size: 16px;
    width: 100%;
    text-align: start;
  }
}
