.about-station__cta {
  padding: 100px 0;
}

.about-station__img {
  background-image: url(../images/index/about-station/cta.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: inherit;
  padding: 50px 40px;
}

.about-station__img-title {
  font-size: 14px;
  color: var(--accent-orange);
  max-width: 570px;
  margin-bottom: 15px;
}

.about-station__discover {
  max-width: 570px;
  font-size: 24px;
  margin-bottom: 15px;
}

.about-station__fm-wave {
  max-width: 570px;
  font-size: 19px;
  color: var(--input-text-color);
  margin-bottom: 15px;
}

.about-station__cta-img {
  max-width: 240px;
}

.about-station__text {
  max-width: 470px;
  padding-left: 10px;
}

.about-station__title {
  font-size: 15px;
  color: var(--text-light-grey);
  margin: 40px 0;
}

.about-station__last-title {
  font-size: 30px;
  font-family: var(--font-secondary);
  margin-bottom: 20px;
}

.about-station__paragraph {
  color: var(--text-color);
  margin-bottom: 30px;
}

.about-station__button {
  background: var(--button-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 10px;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  width: 150px;
  border-radius: 30px;
}

.about-station__button:hover {
  background: var(--button-hover-gradient);
}

.about-station__cards {
  margin-top: 70px;
  gap: 10px;
}

.about-station__card__img {
  margin: auto;
  width: 35px;
  height: 35px;
}

.about-station__card__img-box {
  border-radius: 50%;
  padding-top: 20px;
  background-color: var(--light-shade-color);
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

.about-station__card__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.about-station__card__line {
  width: 40px;
  height: 4px;
  margin-bottom: 20px;
}

.about-station__card__line__radio {
  background-color: var(--accent-magenta);
}

.about-station__card__line__headphones {
  background-color: var(--accent-orange);
}

.about-station__card__line__microphone {
  background-color: var(--accent-pure-violet);
}

.about-station__card__line__turntable {
  background-color: var(--accent-blue);
}

.about-station__card__text {
  margin-bottom: 30px;
  color: var(--text-light-grey);
}

@media screen and (min-width: 768px) {
  .about-station__last-title {
    font-size: 38px;
  }

  .about-station__cta {
    display: flex;
    justify-content: space-between;
  }

  .about-station__cards {
    display: flex;
    justify-content: space-between;
  }

  .about-station__img {
    width: 660px;
    padding: 50px 40px;
  }

  .about-station__card__img-box {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }

  .about-station__card__img {
    margin: auto;
    width: 60px;
    height: 60px;
  }

  .about-station__card__item {
    width: 280px;
    padding: 0 15px;
  }
}
