/* Vladimir Kravets */
.news {
    font-family: 'Noto Sans', sans-serif;
    padding: 60px 0px 110px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.news__header{    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
}

.news__header-left{    
    font-size: 12px;

    .news__header-details {         
        display: flex;
        flex: 1;
        gap: 20px;        
        padding: 20px 0px;
        font-size: 34px;
        vertical-align: baseline;
    }
}


.news__header-right{
    flex: 1;
    font-size: 19px;
    padding: 20px 0px;
    vertical-align: middle;
}

.news__grid {
    display: flex;
    flex-wrap: wrap;    
    gap: 40px;    
}

.news-card {
    padding: 10px 0px;
    flex: 1 1 30%;  /* calc(33.33% - 40px); */
    box-sizing: border-box;
}

.news-card__image {
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    margin: auto;    
    object-fit: cover;
}



