<section class="slider">
  <div class="slider__container container">
    <div class="slider__wrapper">
      <div class="slider__carousel" data-carousel>
        <button class="slider__button js-prev-btn" type="button" data-prev>
          <svg class="slider__icon" width="25" height="25">
            <use href="./images/sprite.svg#icon-left-btn"></use>
          </svg>
        </button>
        <ul class="slider__list" data-track>
          <li class="slider__item">
            <span class="slider__year year-1">2005</span>
            <p class="slider__text">
              Jack Richardson started his own, small radio studio.
            </p>
          </li>
          <li class="slider__item">
            <span class="slider__year year-2">2006</span>
            <p class="slider__text">
              The radio got the TuWave name and started its promo.
            </p>
          </li>
          <li class="slider__item">
            <span class="slider__year year-3">2016</span>
            <p class="slider__text">
              The name was changed to EchoWave by our team.
            </p>
          </li>
          <li class="slider__item">
            <span class="slider__year year-4">2020</span>
            <p class="slider__text">
              We gained popularity due to our podcasts during the pandemic.
            </p>
          </li>
          <li class="slider__item">
            <span class="slider__year year-5">2022</span>
            <p class="slider__text">
              Our fantastic team won the Vest NY Radio award.
            </p>
          </li>
        </ul>
        <button class="slider__button js-next-btn" type="button" data-next>
          <svg class="slider__icon" width="25" height="25">
            <use href="./images/sprite.svg#icon-right-btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
