<section class="team">
  <div class="team__container container">
    <div class="team__header">
      <div class="team__wrapper">
        <h2 class="team__title">team</h2>
        <p class="team__subtitle">Our Radio Team</p>
      </div>
      <p class="team__description">
        From radio veterans to fresh voices, each member of our team contributes
        a unique flavor to the symphony of our station.
      </p>
    </div>
    <div class="team__wrapp">
      <div class="team__slider" data-carousel>
        <button class="team__button js-btn-prev" type="button" data-prev>
          <svg class="team__icon" width="25" height="25">
            <use href="./images/sprite.svg#icon-left-btn"></use>
          </svg>
        </button>
        <ul class="team__list" data-track>
          <li class="team__item">
            <article class="team__card">
              <img
                class="team__image"
                src="./images/about/team-01.png"
                alt="Radio DJ"
                width="200"
              />
              <h3 class="team__name">Harry Jones</h3>
              <ul class="team__socials">
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-twitter"></use>
                  </svg>
                </li>
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-instagram"></use>
                  </svg>
                </li>
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-youtube"></use>
                  </svg>
                </li>
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </li>
              </ul>
            </article>
          </li>
          <li class="team__item">
            <article class="team__card">
              <img
                class="team__image"
                src="./images/about/team-02.png"
                alt="Radio DJ"
                width="200"
              />
              <h3 class="team__name">Jessica Errington</h3>
              <ul class="team__socials">
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-twitter"></use>
                  </svg>
                </li>
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-instagram"></use>
                  </svg>
                </li>
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-youtube"></use>
                  </svg>
                </li>
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </li>
              </ul>
            </article>
          </li>
          <li class="team__item">
            <article class="team__card">
              <img
                class="team__image"
                src="./images/about/team-03.png"
                alt="Radio DJ"
                width="200"
              />
              <h3 class="team__name">Eric Maddoc</h3>
              <ul class="team__socials">
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-twitter"></use>
                  </svg>
                </li>
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-instagram"></use>
                  </svg>
                </li>
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-youtube"></use>
                  </svg>
                </li>
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </li>
              </ul>
            </article>
          </li>
          <li class="team__item">
            <article class="team__card">
              <img
                class="team__image"
                src="./images/about/team-04.png"
                alt="Radio DJ"
                width="200"
              />
              <h3 class="team__name">Amanda Poe</h3>
              <ul class="team__socials">
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-twitter"></use>
                  </svg>
                </li>
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-instagram"></use>
                  </svg>
                </li>
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-youtube"></use>
                  </svg>
                </li>
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </li>
              </ul>
            </article>
          </li>
          <li class="team__item">
            <article class="team__card">
              <img
                class="team__image"
                src="./images/about/team-05.png"
                alt="Radio DJ"
                width="200"
              />
              <h3 class="team__name">Diana Ferrington</h3>
              <ul class="team__socials">
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-twitter"></use>
                  </svg>
                </li>
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-instagram"></use>
                  </svg>
                </li>
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-youtube"></use>
                  </svg>
                </li>
                <li class="team__social-item">
                  <svg class="team__social-icon" width="25" height="25">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </li>
              </ul>
            </article>
          </li>
        </ul>
        <button class="team__button js-btn-next" type="button" data-next>
          <svg class="team__icon" width="25" height="25">
            <use href="./images/sprite.svg#icon-right-btn"></use>
          </svg>
        </button>
      </div>
      <div class="team__wrap">
        <img
          class="team__pic"
          src="./images/global/03-microphone.svg"
          alt="Microphone"
        />
        <p class="team__slogan">Listen to the Music of New York!</p>
        <p class="team__quote">
          Join our music wave on<span class="team__fm">- 95.4 FM -</span>
        </p>
      </div>
    </div>
  </div>
</section>
