<section class="hero">
  <div class="hero__container container">
    <div class="hero__content">
      <div class="hero__header">
        <h1 class="hero__title">About US</h1>
        <p class="hero__link">
          Home > <span class="hero__route">About us</span>
        </p>
      </div>
      <p class="hero__description">
        Learn more about EchoWave Radio, our mission and vision, our employees,
        and our approach to broadcasting.
      </p>
    </div>
    <img class="hero__image" src="./images/about/hero.png" alt="Radio DJ" />
  </div>
</section>
