<section class="mission">
  <div class="mission__container container">
    <div class="mission__content">
      <h2 class="mission__title">
        <span class="mission__title-icon">*</span>OUR VISION & MISSION
      </h2>
      <ul class="mission__list">
        <li class="mission__item">
          <h3 class="mission__subtitle">
            <span class="mission__number">01.</span>Empowering Musical Journeys
          </h3>
          <p class="mission__description">
            At EchoWave, our mission is to empower individuals on their unique
            musical journeys. We curate an immersive auditory experience that
            transcends genres, connecting people globally through the universal
            language of music.
          </p>
        </li>
        <li class="mission__item">
          <h3 class="mission__subtitle">
            <span class="mission__number">02.</span>A World United by Sound
          </h3>
          <p class="mission__description">
            We believe in the transformative power of sound – a universal
            language that has the ability to unite hearts, evoke emotions, and
            bridge the gaps that often divide us. Our commitment is to curate a
            diverse and inclusive auditory experience, bringing together
            melodies, rhythms, and voices from every corner of the globe.
          </p>
        </li>
        <li class="mission__item">
          <h3 class="mission__subtitle">
            <span class="mission__number">03.</span>Diversity, Creativity,
            Connection
          </h3>
          <p class="mission__description">
            We aim to foster a global community bound by a shared appreciation
            for the artistry of sound. Whether you're tuning in from bustling
            city streets or serene rural landscapes, our broadcasts echo the
            heartbeat of humanity, reminding us of our shared journey.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
