<section class="story">
  <div class="story__container container">
    <div class="story__content">
      <h2 class="story__title">
        <span class="story__title-icon">*</span>Our Story
      </h2>
      <div class="story__text">
        <p class="story__slogan">
          <span class="story__highlight">EchoWave Radio</span> is your favorite
          wave in New York. Thousands of citizens listen to our broadcasts,
          playlists, and podcasts while they commute, work, cook, love, and
          simply live.
        </p>
        <p class="story__paragraph">
          At EchoWave, we believe in the extraordinary power of music to
          transcend boundaries, evoke emotions, and create lasting connections.
          Our journey began in New York in 2005, when our owner, Jack
          Richardson, met other music enthusiasts with a shared vision: to
          redefine the auditory experience.
        </p>
        <p class="story__paragraph">
          Today, EchoWave stands as a beacon of musical diversity, a community
          united by the love for extraordinary sounds. Reflect with us on our
          history, filled with gratitude for each note, each beat, and each
          listener who has been a part of this incredible journey. Here's to the
          years gone by and the countless beats yet to be discovered. Thank you
          for being part of our musical evolution.
        </p>
        <div class="story__text__hidden">
          <p class="story__paragraph">
            And as we look ahead, we remain committed to pushing the boundaries
            of sound, innovation, and artistic expression. At EchoWave, we
            embrace every genre, every rhythm, and every voice that contributes
            to the rich tapestry of music. Our passion drives us to discover new
            talent, refine our craft, and bring immersive experiences to
            listeners around the world.
          </p>
          <p class="story__paragraph">
            From the intimate strum of an acoustic guitar to the electrifying
            pulse of electronic beats, we celebrate the universal language of
            music in all its forms. Together, we create moments that resonate
            beyond time—melodies that inspire, rhythms that move, and harmonies
            that unite.
          </p>
          <p class="story__paragraph">
            The journey is far from over. With every new track, every shared
            experience, and every connection forged through music, we continue
            to write the next chapter of EchoWave. Here’s to the soundscapes of
            tomorrow and the endless possibilities that lie ahead. Let’s keep
            the music alive—together.
          </p>
        </div>
        <a class="story__link">Learn More</a>
      </div>
    </div>

    <div class="story__divider"></div>
  </div>
</section>
