<section class="location">
  <div class="location__container container">
    <div class="location__content">
      <div class="location__header">
        <h1 class="location__title">Contacts</h1>
        <p class="location__link">
          Home > <span class="hero__route">Contacts</span>
        </p>
      </div>
      <p class="location__description">
        Feel free to contact us in any convenient way if you just want to say
        something to our guests or have an idea for our next podcast. We're
        waiting for your letters and calls!
      </p>
    </div>
    <iframe
      class="location__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.5684613841654!2d-73.95844368803537!3d40.70550083789351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25be6c2a27a0d%3A0xb913e1d4b711a664!2zMjQwIEhvb3BlciBTdCwgQnJvb2tseW4sIE5ZIDExMjExLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1736546521638!5m2!1sru!2sua&style=feature:all|element:labels|visibility:simplified|feature:road|element:geometry|color:0x000000|feature:landscape|element:geometry|color:0x333333|feature:water|element:geometry|color:0x888888"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
