<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top">
      <div class="footer__logo-container">
        <a href="./index.html"
          ><img
            width="121"
            class="footer__logo"
            src="images/global/echowave-logo.svg"
            alt="echowave logo"
        /></a>
        <p class="footer__logo-text">
          Brace yourself for an unparalleled fusion of rhythm, culture, and the
          energy of the Big Apple. Listen to 95.4 FM!
        </p>
        <div class="footer__social">
          <ul class="footer__social-list">
            <li class="footer__social-item">
              <a
                href="https://www.instagram.com/"
                rel="noopener noreferrer nofollow"
              >
                <svg
                  class="footer__social-icon"
                  fill="var(--main-color)"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer__social-item">
              <a
                href="https://facebook.com/"
                rel="noopener noreferrer nofollow"
              >
                <svg
                  class="footer__social-icon"
                  fill="var(--main-color)"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer__social-item">
              <a href="https://youtube.com/" rel="noopener noreferrer nofollow">
                <svg
                  class="footer__social-icon"
                  fill="var(--main-color)"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li class="footer__social-item">
              <a href="https://x.com/" rel="noopener noreferrer nofollow">
                <svg
                  class="footer__social-icon"
                  fill="var(--main-color)"
                  width="20"
                  height="20"
                >
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__nav">
        <div class="footer__links">
          <div class="footer__links-column footer__links-column--first">
            <p class="footer__links-title">Navigation</p>
            <nav class="footer__links-nav">
              <ul class="footer__links-list">
                <li class="footer__links-item">
                  <a class="footer__links-text" href="#">About us</a>
                </li>
                <li class="footer__links-item">
                  <a class="footer__links-text" href="#">Podcasts</a>
                </li>
                <li class="footer__links-item">
                  <a class="footer__links-text" href="#">Hosts</a>
                </li>
                <li class="footer__links-item">
                  <a class="footer__links-text" href="#">Download</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="footer__links-column footer__links-column--second">
            <p class="footer__links-title">Links</p>
            <nav class="footer__links-nav">
              <ul class="footer__links-list">
                <li class="footer__links-item">
                  <a class="footer__links-text" href="#">T&C</a>
                </li>
                <li class="footer__links-item">
                  <a class="footer__links-text" href="#">Privacy policy</a>
                </li>
                <li class="footer__links-item">
                  <a class="footer__links-text" href="#">Live chat</a>
                </li>
                <li class="footer__links-item">
                  <a class="footer__links-text" href="#">Support</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="footer__links-column footer__links-column--third">
          <p class="footer__links-title">We are on:</p>
          <nav class="footer__links-nav">
            <ul class="footer__links-list">
              <li class="footer__links-item">
                <img
                  width="20"
                  class="footer__service-icon"
                  src="images/global/spotify-icon.svg"
                  alt="spotify logo"
                />
                <a
                  class="footer__links-link"
                  href="https://www.spotify.com/"
                  rel="noopener noreferrer nofollow"
                  >Spotify →</a
                >
              </li>
              <li class="footer__links-item">
                <img
                  width="20"
                  class="footer__service-icon"
                  src="images/global/youtube-icon.svg"
                  alt="youtube music logo"
                />
                <a
                  class="footer__links-link"
                  href="https://music.youtube.com/"
                  rel="noopener noreferrer nofollow"
                  >Youtube Music →</a
                >
              </li>
              <li class="footer__links-item">
                <img
                  width="20"
                  class="footer__service-icon"
                  src="images/global/soundcloud-icon.svg"
                  alt="soundcloud logo"
                />
                <a
                  class="footer__links-link"
                  href="https://soundcloud.com/"
                  rel="noopener noreferrer nofollow"
                  >SoundCloud →</a
                >
              </li>
              <li class="footer__links-item">
                <img
                  width="20"
                  class="footer__service-icon"
                  src="images/global/apple-podcast-icon.svg"
                  alt="apple podcast logo"
                />
                <a
                  class="footer__links-link"
                  href="https://music.apple.com/"
                  rel="noopener noreferrer nofollow"
                  >Apple Podcasts →</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="footer__divider"></div>
    <div class="footer__bottom">
      <p class="footer__bottom-text">
        © Developed with
        <a class="footer__icon-wrapper" href="#" title="👉 Click Me">
          <svg class="footer__icon" data-trigger width="14" height="13">
            <use href="./images/sprite.svg#icon-heart"></use>
          </svg>
        </a>
        by
        <a href="#" class="footer__team-member"></a>
      </p>
      <p class="footer__bottom-text">All rights Reserved</p>
    </div>
  </div>
</footer>
