<div class="modal-window modal-window__backdrop is-hidden" data-backdrop>
  <div class="modal-window__wrapper" data-wrapper>
    <button class="modal-window__modal-close-btn" type="button" data-close>
      <svg class="modal-window__modal-close-icon" width="20" height="20">
        <use href="./images/sprite.svg#icon-cross-closed"></use>
      </svg>
    </button>
    <h2 class="modal-window__title">Dev Team</h2>
    <ul class="modal-window__list">
      <li class="modal-window__item">
        <div class="modal-window__wrap">
          <img
            class="modal-window__img"
            loading="lazy"
            src="./images/avatar.png"
            alt="Yevhen Martynych"
          />
        </div>
        <div class="modal-window__box">
          <h2 class="modal-window__member">Yevhen Martynych</h2>
          <p class="modal-window__role">Team Lead</p>
          <a
            class="modal-window__link-linkedin modal-window__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="modal-window__link-github modal-window__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/yevhenmartynych"
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-window__item">
        <div class="modal-window__wrap">
          <img
            class="modal-window__img"
            loading="lazy"
            src="./images/avatar.png"
            alt="Viktor Svertoka"
          />
        </div>
        <div class="modal-window__box">
          <h2 class="modal-window__member">Viktor Svertoka</h2>
          <p class="modal-window__role">Deputy Team Lead</p>
          <a
            class="modal-window__link-linkedin modal-window__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/viktorsvertoka/"
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="modal-window__link-github modal-window__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/ViktorSvertoka"
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-window__item">
        <div class="modal-window__wrap">
          <img
            class="modal-window__img"
            loading="lazy"
            src="./images/avatar.png"
            alt="Markiian Senkiv"
          />
        </div>
        <div class="modal-window__box">
          <h2 class="modal-window__member">Markiian Senkiv</h2>
          <p class="modal-window__role">Front End Developer</p>
          <a
            class="modal-window__link-linkedin modal-window__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="modal-window__link-github modal-window__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/MarkiianSenkiv"
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-window__item">
        <div class="modal-window__wrap">
          <img
            class="modal-window__img"
            loading="lazy"
            src="./images/avatar.png"
            alt="Oleksandr Kopytin"
          />
        </div>
        <div class="modal-window__box">
          <h2 class="modal-window__member">Oleksandr Kopytin</h2>
          <p class="modal-window__role">Front End Developer</p>
          <a
            class="modal-window__link-linkedin modal-window__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="modal-window__link-github modal-window__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/prohodec"
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-window__item">
        <div class="modal-window__wrap">
          <img
            class="modal-window__img"
            loading="lazy"
            src="./images/avatar.png"
            alt="Dmytro Prokopenko"
          />
        </div>
        <div class="modal-window__box">
          <h2 class="modal-window__member">Dmytro Prokopenko</h2>
          <p class="modal-window__role">Front End Developer</p>
          <a
            class="modal-window__link-linkedin modal-window__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="modal-window__link-github modal-window__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/micromoleckula"
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-window__item">
        <div class="modal-window__wrap">
          <img
            class="modal-window__img"
            loading="lazy"
            src="./images/avatar.png"
            alt="Yuliia Shpylka"
          />
        </div>
        <div class="modal-window__box">
          <h2 class="modal-window__member">Yuliia Shpylka</h2>
          <p class="modal-window__role">Front End Developer</p>
          <a
            class="modal-window__link-linkedin modal-window__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="modal-window__link-github modal-window__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/yuliiashpylkatestqa"
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-window__item">
        <div class="modal-window__wrap">
          <img
            class="modal-window__img"
            loading="lazy"
            src="./images/avatar.png"
            alt="Vladimir Kravets"
          />
        </div>
        <div class="modal-window__box">
          <h2 class="modal-window__member">Vladimir Kravets</h2>
          <p class="modal-window__role">Front End Developer</p>
          <a
            class="modal-window__link-linkedin modal-window__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="modal-window__link-github modal-window__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/KravetsVA"
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-window__item">
        <div class="modal-window__wrap">
          <img
            class="modal-window__img"
            loading="lazy"
            src="./images/avatar.png"
            alt="Vladyslav Plakhotniuk"
          />
        </div>
        <div class="modal-window__box">
          <h2 class="modal-window__member">Vladyslav Plakhotniuk</h2>
          <p class="modal-window__role">Front End Developer</p>
          <a
            class="modal-window__link-linkedin modal-window__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="modal-window__link-github modal-window__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/hola2005"
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-window__item">
        <div class="modal-window__wrap">
          <img
            class="modal-window__img"
            loading="lazy"
            src="./images/avatar.png"
            alt="Anhelina Lytovchenko"
          />
        </div>
        <div class="modal-window__box">
          <h2 class="modal-window__member">Anhelina Lytovchenko</h2>
          <p class="modal-window__role">Front End Developer</p>
          <a
            class="modal-window__link-linkedin modal-window__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="modal-window__link-github modal-window__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/Lytovchenkoo"
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-window__item">
        <div class="modal-window__wrap">
          <img
            class="modal-window__img"
            loading="lazy"
            src="./images/avatar.png"
            alt="Roman Lytvynenko"
          />
        </div>
        <div class="modal-window__box">
          <h2 class="modal-window__member">Roman Lytvynenko</h2>
          <p class="modal-window__role">Front End Developer</p>
          <a
            class="modal-window__link-linkedin modal-window__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="modal-window__link-github modal-window__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/rlnolino"
          >
            <svg class="modal-window__icon" width="25" height="25">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
