<section class="popular-songs">
  <div class="popular-songs__container container">
    <div class="popular-songs__header">
      <div class="popular-songs__wrapper">
        <span class="popular-songs__title-icon">*</span>
        <h2 class="popular-songs__title">Popular Songs</h2>
      </div>
      <p class="popular-songs__description">
        Explore our <span class="popular-songs__highlight">best songs</span> of
        the week, from rap to jazz. Work, dance, and dream with us.
      </p>
    </div>
    <div class="popular-songs__wrapp">
      <div class="popular-songs__slider" data-carousel>
        <button class="popular-songs__button prev" data-prev>
          <svg class="popular-songs__icon">
            <use href="./images/sprite.svg#icon-left-btn"></use>
          </svg>
        </button>
        <ul class="popular-songs__list" data-track>
          <li class="popular-songs__item">
            <article class="popular-songs__card">
              <img
                class="popular-songs__image"
                src="./images/index/popular-songs/popular-songs-01.webp"
                alt="Rap music"
              />
              <p class="popular-songs__genre">Rap</p>
              <h3 class="popular-songs__name">"Celestial Whispers"</h3>
              <p class="popular-songs__artist">TwoWrack</p>
            </article>
          </li>
          <li class="popular-songs__item">
            <article class="popular-songs__card">
              <img
                class="popular-songs__image"
                src="./images/index/popular-songs/popular-songs-02.webp"
                alt="Pop music"
              />
              <p class="popular-songs__genre">Dream Pop</p>
              <h3 class="popular-songs__name">"Morning, Love"</h3>
              <p class="popular-songs__artist">Luna Solitaire</p>
            </article>
          </li>
          <li class="popular-songs__item">
            <article class="popular-songs__card">
              <img
                class="popular-songs__image"
                src="./images/index/popular-songs/popular-songs-03.webp"
                alt="Techno music"
              />
              <p class="popular-songs__genre">Techno</p>
              <h3 class="popular-songs__name">"Golden Hour"</h3>
              <p class="popular-songs__artist">David Guetti</p>
            </article>
          </li>
          <li class="popular-songs__item">
            <article class="popular-songs__card">
              <img
                class="popular-songs__image"
                src="./images/index/popular-songs/popular-songs-04.webp"
                alt="Soul music"
              />
              <p class="popular-songs__genre">Soul</p>
              <h3 class="popular-songs__name">"Saudade"</h3>
              <p class="popular-songs__artist">Jack Welsh</p>
            </article>
          </li>
          <li class="popular-songs__item">
            <article class="popular-songs__card">
              <img
                class="popular-songs__image"
                src="./images/index/popular-songs/popular-songs-05.webp"
                alt="Jazz music"
              />
              <p class="popular-songs__genre">Jazz</p>
              <h3 class="popular-songs__name">"City Lights"</h3>
              <p class="popular-songs__artist">Lucy Ingoo</p>
            </article>
          </li>
        </ul>
        <button class="popular-songs__button next" data-next>
          <svg class="popular-songs__icon">
            <use href="./images/sprite.svg#icon-right-btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
