<section class="daily" id="program">
  <div class="daily__container container">
    <div class="daily__header">
      <div class="daily__title">
        <span class="daily__star">*</span>
        <span class="daily__program">DAILY PROGRAM</span>
      </div>
      <div class="daily__description">
        <span
          >Here's a daily schedule of our shows and podcasts for you to
          navigate.</span
        >
      </div>
    </div>
    <div class="daily__table-wrapper">
      <table class="daily__table">
        <thead class="daily__table-head">
          <tr class="daily__table-row">
            <th class="daily__table-heading">Day/Time</th>
            <th class="daily__table-time">12:00 PM - 2:00 PM</th>
            <th class="daily__table-time">2:00 PM - 4:00 PM</th>
            <th class="daily__table-time">4:00 PM - 8:00 PM</th>
            <th class="daily__table-time">10:00 PM - 11:00 PM</th>
          </tr>
        </thead>
        <tbody class="daily__table-body">
          <tr class="daily__table-row">
            <td class="daily__table-day">Monday</td>
            <td class="daily__table-cell">Morning Mix</td>
            <td class="daily__table-cell">Lunch Beats</td>
            <td class="daily__table-cell">Afternoon Flow</td>
            <td class="daily__table-cell">Nightly Podcast</td>
          </tr>
          <tr class="daily__table-row">
            <td class="daily__table-day">Tuesday</td>
            <td class="daily__table-cell">Jazz Jam</td>
            <td class="daily__table-cell">Indie Showcase</td>
            <td class="daily__table-cell">Pop Parade</td>
            <td class="daily__table-cell">Genre Spotlight</td>
          </tr>
          <tr class="daily__table-row">
            <td class="daily__table-day">Wednesday</td>
            <td class="daily__table-cell">Electro Vibes</td>
            <td class="daily__table-cell">Throwback Hits</td>
            <td class="daily__table-cell">Electronic Bliss</td>
            <td class="daily__table-cell">Artist Interviews</td>
          </tr>
          <tr class="daily__table-row">
            <td class="daily__table-day">Thursday</td>
            <td class="daily__table-cell">Indie Grooves</td>
            <td class="daily__table-cell">Hip-Hop Hour</td>
            <td class="daily__table-cell">Blues Break</td>
            <td class="daily__table-cell">Beats & Beyond</td>
          </tr>
          <tr class="daily__table-row">
            <td class="daily__table-day">Friday</td>
            <td class="daily__table-cell">Indie Spotlight</td>
            <td class="daily__table-cell">Chart Toppers</td>
            <td class="daily__table-cell">Friday Fiesta</td>
            <td class="daily__table-cell">Mixtape Madness</td>
          </tr>
          <tr class="daily__table-row">
            <td class="daily__table-day">Saturday</td>
            <td class="daily__table-cell">Weekend Chill</td>
            <td class="daily__table-cell">Saturday Mix</td>
            <td class="daily__table-cell">Reggae Rhythms</td>
            <td class="daily__table-cell">Nightly Podcast</td>
          </tr>
          <tr class="daily__table-row">
            <td class="daily__table-day">Sunday</td>
            <td class="daily__table-cell">Acoustic Serenade</td>
            <td class="daily__table-cell">Classical Escape</td>
            <td class="daily__table-cell">Jazz Favorites</td>
            <td class="daily__table-cell">Soundtrack Sundays</td>
          </tr>
        </tbody>
      </table>
      <div class="daily__mobile-schedule">
        <div class="daily__day-schedule">
          <div class="daily__mobile-header">
            <div class="daily__mobile-line-header">
              <span class="daily__table-heading">Day/Time</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-day">Monday</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Morning Mix</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">2:00 PM - 4:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Lunch Beats</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">4:00 PM - 8:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Afternoon Flow</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">10:00 PM - 11:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Nightly Podcast</span>
            </div>
          </div>
        </div>
        <div class="daily__day-schedule">
          <div class="daily__mobile-header">
            <div class="daily__mobile-line-header">
              <span class="daily__table-heading">Day/Time</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-day">Tuesday</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Jazz Jam</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">2:00 PM - 4:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Indie Showcase</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">4:00 PM - 8:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Pop Parade</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">10:00 PM - 11:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Genre Spotlight</span>
            </div>
          </div>
        </div>
        <div class="daily__day-schedule">
          <div class="daily__mobile-header">
            <div class="daily__mobile-line-header">
              <span class="daily__table-heading">Day/Time</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-day">Wednesday</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Electro Vibes</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">2:00 PM - 4:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Throwback Hits</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">4:00 PM - 8:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Electronic Bliss</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">10:00 PM - 11:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Artist Interviews</span>
            </div>
          </div>
        </div>
        <div class="daily__day-schedule">
          <div class="daily__mobile-header">
            <div class="daily__mobile-line-header">
              <span class="daily__table-heading">Day/Time</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-day">Thursday</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Indie Grooves</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">2:00 PM - 4:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Hip-Hop Hour</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">4:00 PM - 8:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Blues Break</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">10:00 PM - 11:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Beats & Beyond</span>
            </div>
          </div>
        </div>
        <div class="daily__day-schedule">
          <div class="daily__mobile-header">
            <div class="daily__mobile-line-header">
              <span class="daily__table-heading">Day/Time</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-day">Friday</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Indie Spotlight</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">2:00 PM - 4:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Chart Toppers</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">4:00 PM - 8:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Friday Fiesta</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">10:00 PM - 11:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Mixtape Madness</span>
            </div>
          </div>
        </div>
        <div class="daily__day-schedule">
          <div class="daily__mobile-header">
            <div class="daily__mobile-line-header">
              <span class="daily__table-heading">Day/Time</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-day">Saturday</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Weekend Chill</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">2:00 PM - 4:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Saturday Mix</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">4:00 PM - 8:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Reggae Rhythms</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">10:00 PM - 11:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Nightly Podcast</span>
            </div>
          </div>
        </div>
        <div class="daily__day-schedule">
          <div class="daily__mobile-header">
            <div class="daily__mobile-line-header">
              <span class="daily__table-heading">Day/Time</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-day">Sunday</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Acoustic Serenade</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">2:00 PM - 4:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Classical Escape</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">4:00 PM - 8:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Soundtrack Sundays</span>
            </div>
          </div>
          <div class="daily__time-slot">
            <div class="daily__mobile-line-header">
              <span class="daily__mobile-time">10:00 PM - 11:00 PM</span>
            </div>
            <div class="daily__mobile-line-header">
              <span class="daily__program">Artist Interviews</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
