<section class="artists" id="artists">
  <div class="artists__container container">
    <h2 class="artists__title">Popular Artists</h2>
    <div class="artists__wrapp">
      <div class="artists__slider" data-carousel>
        <button class="artists__button js-prev" type="button" data-prev>
          <svg class="artists__icon" width="25" height="25">
            <use href="./images/sprite.svg#icon-left-btn"></use>
          </svg>
        </button>
        <ul class="artists__list" data-track>
          <li class="artists__item">
            <article class="artists__card">
              <img
                class="artists__image"
                src="./images/index/artists/artists-01.webp"
                alt="Music artist"
                width="242"
              />
              <h3 class="artists__name artist-1">John Echo</h3>
              <p class="artists__location">New York</p>
            </article>
          </li>
          <li class="artists__item">
            <article class="artists__card">
              <img
                class="artists__image"
                src="./images/index/artists/artists-02.webp"
                alt="Music artist"
                width="242"
              />
              <h3 class="artists__name artist-2">Electric Mirage</h3>
              <p class="artists__location">Puerto Rico</p>
            </article>
          </li>
          <li class="artists__item">
            <article class="artists__card">
              <img
                class="artists__image"
                src="./images/index/artists/artists-03.webp"
                alt="Music artist"
                width="242"
              />
              <h3 class="artists__name artist-3">Serenade</h3>
              <p class="artists__location">San Francisco</p>
            </article>
          </li>
          <li class="artists__item">
            <article class="artists__card">
              <img
                class="artists__image"
                src="./images/index/artists/artists-04.webp"
                alt="Music artist"
                width="242"
              />
              <h3 class="artists__name artist-4">Hurricane</h3>
              <p class="artists__location">Vienna</p>
            </article>
          </li>
          <li class="artists__item">
            <article class="artists__card">
              <img
                class="artists__image"
                src="./images/index/artists/artists-05.webp"
                alt="Music artist"
                width="242"
              />
              <h3 class="artists__name artist-5">Velvet Skyline</h3>
              <p class="artists__location">Washington</p>
            </article>
          </li>
        </ul>
        <button class="artists__button js-next" type="button" data-next>
          <svg class="artists__icon" width="25" height="25">
            <use href="./images/sprite.svg#icon-right-btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
