<section class="about-station__hero container">
  <div class="about-station__cta">
    <div class="about-station__img">
      <p class="about-station__img-title">Tune In Now</p>
      <p class="about-station__discover">Discover the Sound of Your Day</p>
      <p class="about-station__fm-wave">Stay on the 95.4 FM wave.</p>
      <img
        class="about-station__cta-img"
        src="./images/index/about-station/line.png"
        alt="music line"
      />
    </div>
    <div class="about-station__text">
      <h1 class="about-station__title">About Us</h1>
      <h2 class="about-station__last-title">About EchoWave Station</h2>
      <p class="about-station__paragraph">
        Brace yourself for an unparalleled fusion of rhythm, culture, and the
        energy of the Big Apple. We're here to amplify the sound of New York and
        bring you a radio experience like never before. Get ready to tune in,
        turn up, and immerse yourself in the heartbeat of the concrete jungle
        with EchoWave.
      </p>
      <a class="about-station__button" href="./about.html">Learn More</a>
    </div>
  </div>
  <div class="footer__divider"></div>
  <div class="about-station__cards">
    <div class="about-station__card__item">
      <div class="about-station__card__img-box">
        <img
          class="about-station__card__img"
          src="./images/global/01-radio.svg"
          alt="radio"
        />
      </div>
      <h2 class="about-station__card__title">Web & Mobile App</h2>
      <div
        class="about-station__card__line__radio about-station__card__line"
      ></div>
      <p class="about-station__card__text">
        Join our live streaming in the browser or via an app.
      </p>
    </div>
    <div
      class="about-station__card__item about-station__card__item__headphones"
    >
      <div class="about-station__card__img-box">
        <img
          class="about-station__card__img"
          src="./images/global/02-headphones.svg"
          alt="headphones"
        />
      </div>
      <h2 class="about-station__card__title">Best Music</h2>
      <div
        class="about-station__card__line__headphones about-station__card__line"
      ></div>
      <p class="about-station__card__text">
        Listen to fresh releases and classic songs you love.
      </p>
    </div>
    <div
      class="about-station__card__item about-station__card__item__microphone"
    >
      <div class="about-station__card__img-box">
        <img
          class="about-station__card__img"
          src="./images/global/03-microphone.svg"
          alt="microphone"
        />
      </div>
      <h2 class="about-station__card__title">Interesting Podcasts</h2>
      <div
        class="about-station__card__line__microphone about-station__card__line"
      ></div>
      <p class="about-station__card__text">
        We talk with experts about art, psychology, and relationships.
      </p>
    </div>
    <div class="about-station__card__item">
      <div class="about-station__card__img-box">
        <img
          class="about-station__card__img"
          src="./images/global/04-turntable.svg"
          alt="turntable"
        />
      </div>
      <h2 class="about-station__card__title">Fantastic Hosts</h2>
      <div
        class="about-station__card__line__turntable about-station__card__line"
      ></div>
      <p class="about-station__card__text">
        You'll love our hosts' voices and senses of humor.
      </p>
    </div>
  </div>
</section>
