<section>
  <div class="daily-container container">
    <div class="daily-header">
      <div class="title">
        <span class="star">*</span>
        <span class="daily-program">DAILY PROGRAM</span>
      </div>
      <div class="daily-text">
        <span
          >Here's a daily schedule of our shows and podcasts for you to
          navigate.</span
        >
      </div>
    </div>
    <div class="daily-table">
      <table>
        <thead>
          <tr>
            <th class="normal-weight">Day/Time</th>
            <th class="time">12:00 PM - 2:00 PM</th>
            <th class="time">12:00 PM - 2:00 PM</th>
            <th class="time">4:00 PM - 8:00 PM</th>
            <th class="time">10:00 PM - 11:00 PM</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="day">Monday</td>
            <td>Morning Mix</td>
            <td>Lunch Beats</td>
            <td>Afternoon Flow</td>
            <td>Nightly Podcast</td>
          </tr>
          <tr>
            <td class="day">Tuesday</td>
            <td>Jazz Jam</td>
            <td>Indie Showcase</td>
            <td>Pop Parade</td>
            <td>Genre Spotlight</td>
          </tr>
          <tr>
            <td class="day">Wednesday</td>
            <td>Electro Vibes</td>
            <td>Throwback Hits</td>
            <td>Electronic Bliss</td>
            <td>Artist Interviews</td>
          </tr>
          <tr>
            <td class="day">Thursday</td>
            <td>Indie Grooves</td>
            <td>Hip-Hop Hour</td>
            <td>Blues Break</td>
            <td>Beats & Beyond</td>
          </tr>
          <tr>
            <td class="day">Friday</td>
            <td>Indie Spotlight</td>
            <td>Chart Toppers</td>
            <td>Friday Fiesta</td>
            <td>Mixtape Madness</td>
          </tr>
          <tr>
            <td class="day">Saturday</td>
            <td>Weekend Chill</td>
            <td>Saturday Mix</td>
            <td>Reggae Rhythms</td>
            <td>Nightly Podcast</td>
          </tr>
          <tr>
            <td class="day">Sunday</td>
            <td>Acoustic Serenade</td>
            <td>Classical Escape</td>
            <td>Classical Escape</td>
            <td>Soundtrack Sundays</td>
          </tr>
        </tbody>
      </table>

      <div class="mobile-schedule">
        <div class="day-schedule">
          <div class="mobile-header">
            <div class="mobile-line-header">
              <span class="normal-weight">Day/Time</span>
            </div>
            <div class="mobile-line-header">
              <span class="day">Monday</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Morning Mix</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Lunch Beats</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">4:00 PM - 8:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Afternoon Flow</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">10:00 PM - 11:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Nightly Podcast</span>
            </div>
          </div>
        </div>

        <div class="day-schedule">
          <div class="mobile-header">
            <div class="mobile-line-header">
              <span class="normal-weight">Day/Time</span>
            </div>
            <div class="mobile-line-header">
              <span class="day">Tuesday</span>
            </div>
          </div>

          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Jazz Jam</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Indie Showcase</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">4:00 PM - 8:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Pop Parade</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">10:00 PM - 11:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Genre Spotlight</span>
            </div>
          </div>
        </div>

        <div class="day-schedule">
          <div class="mobile-header">
            <div class="mobile-line-header">
              <span class="normal-weight">Day/Time</span>
            </div>
            <div class="mobile-line-header">
              <span class="day">Wednesday</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Electro Vibes</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Throwback Hits</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">4:00 PM - 8:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Electronic Bliss</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">10:00 PM - 11:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Artist Interviews</span>
            </div>
          </div>
        </div>

        <div class="day-schedule">
          <div class="mobile-header">
            <div class="mobile-line-header">
              <span class="normal-weight">Day/Time</span>
            </div>
            <div class="mobile-line-header">
              <span class="day">Thursday</span>
            </div>
          </div>

          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Indie Grooves</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Hip-Hop Hour</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">4:00 PM - 8:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Blues Break</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">10:00 PM - 11:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Beats & Beyond</span>
            </div>
          </div>
        </div>

        <div class="day-schedule">
          <div class="mobile-header">
            <div class="mobile-line-header">
              <span class="normal-weight">Day/Time</span>
            </div>
            <div class="mobile-line-header">
              <span class="day">Friday</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Indie Spotlight</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Chart Toppers</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">4:00 PM - 8:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Friday Fiesta</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">10:00 PM - 11:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Mixtape Madness</span>
            </div>
          </div>
        </div>

        <div class="day-schedule">
          <div class="mobile-header">
            <div class="mobile-line-header">
              <span class="normal-weight">Day/Time</span>
            </div>
            <div class="mobile-line-header">
              <span class="day">Saturday</span>
            </div>
          </div>

          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Weekend Chill</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Saturday Mix</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">4:00 PM - 8:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Reggae Rhythms</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">10:00 PM - 11:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Nightly Podcast</span>
            </div>
          </div>
        </div>

        <div class="day-schedule">
          <div class="mobile-header">
            <div class="mobile-line-header">
              <span class="normal-weight">Day/Time</span>
            </div>
            <div class="mobile-line-header">
              <span class="day">Sunday</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Acoustic Serenade</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">12:00 PM - 2:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Classical Escape</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">4:00 PM - 8:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Soundtrack Sundays</span>
            </div>
          </div>
          <div class="time-slot">
            <div class="mobile-line-header">
              <span class="time">10:00 PM - 11:00 PM</span>
            </div>
            <div class="mobile-line-header">
              <span class="program">Artist Interviews</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
