<section class="numbers">
  <div class="numbers__header container">
    <div class="numbers__intro">
      <h2 class="numbers__label">Numbers</h2>
      <p class="numbers__title">EchoWave's Results</p>
      <p class="numbers__subtitle">
        Although we are a fairly young radio station, we already have great
        results we would like to share with you.
      </p>
      <img
        class="numbers__image"
        src="./images/index/numbers/singing-into-microphone.webp"
        alt="A person singing into a microphone"
      />
    </div>
    <div class="numbers__stats">
      <div class="numbers__stat">
        <p class="numbers__value">
          4<span class="numbers__point">.</span>5<span
            class="numbers__highlight"
            >m</span
          >
        </p>
        <h3 class="numbers__stat-label">Active listeners</h3>
        <p class="numbers__stat-description">
          Turn on their radios to listen to EchoWave's music playlists and
          podcasts every day.
        </p>
      </div>
      <div class="numbers__stat">
        <p class="numbers__value">20<span class="numbers__point">+</span></p>
        <h3 class="numbers__stat-label">Podcasts</h3>
        <p class="numbers__stat-description">
          We carefully craft our podcasts and invite top experts from New York
          and around the world.
        </p>
      </div>
      <div class="numbers__stat">
        <p class="numbers__value">10<span class="numbers__point">+</span></p>
        <h3 class="numbers__stat-label">Hosts</h3>
        <p class="numbers__stat-description">
          All our hosts have a great sense of humor and know how to entertain an
          audience.
        </p>
      </div>
      <div class="numbers__stat">
        <p class="numbers__value">
          357<span class="numbers__highlight">K</span>
        </p>
        <h3 class="numbers__stat-label">Comments</h3>
        <p class="numbers__stat-description">
          Our audience actively comments on the broadcasts and podcasts we post
          on our accounts.
        </p>
      </div>
    </div>
  </div>
  <div class="numbers__content container">
    <div class="numbers__cta">
      <h2 class="numbers__cta-label">Join us</h2>
      <p class="numbers__cta-title">
        Elevate Your Listening Pleasure With Our Handpicked Playlists
      </p>
      <p class="numbers__cta-subtitle">Join our musical journey.</p>
      <a href="./contacts.html" class="numbers__cta-button button">Join Us</a>
    </div>
    <div class="numbers__image-wrapper">
      <span></span>
    </div>
  </div>
</section>
