<section class="testimonials">
  <div class="testimonials__container container">
    <div class="testimonials__header">
      <div class="testimonials__title-wrapper">
        <span class="testimonials__title-icon">*</span>
        <h2 class="testimonials__title">your warm words</h2>
      </div>
      <p class="testimonials__description">
        We are happy to receive so many warm words about our broadcasts from the
        audience.
      </p>
    </div>
    <ul class="testimonials__list">
      <li class="testimonials__item">
        <img
          class="testimonials__image"
          src="./images/index/testimonials/user-feedback-01.png"
          alt="User feedback"
        />
        <div class="testimonials__content">
          <p class="testimonials__text">
            "EchoWave Radio is my daily escape into a realm of musical
            brilliance. From the energizing morning mixes that kickstart my day
            to the soothing vibes of the Evening Echoes, every moment is a
            testament."
          </p>
          <h3 class="testimonials__author">Lucas Thompson</h3>
        </div>
      </li>
      <li class="testimonials__item">
        <img
          class="testimonials__image"
          src="./images/index/testimonials/user-feedback-02.png"
          alt="User feedback"
        />
        <div class="testimonials__content">
          <p class="testimonials__text">
            "As a tech enthusiast, I can't get enough of the 'TechTalk
            Unplugged' podcast. The discussions on the latest gadgets, industry
            trends, and interviews with innovators keep me informed and
            entertained during my commute."
          </p>
          <h3 class="testimonials__author">Emma Birkin</h3>
        </div>
      </li>
      <li class="testimonials__item">
        <img
          class="testimonials__image"
          src="./images/index/testimonials/user-feedback-03.png"
          alt="User feedback"
        />
        <div class="testimonials__content">
          <p class="testimonials__text">
            "The diverse playlists and expertly curated shows cater to every
            mood and genre. Whether I'm working, relaxing, or dancing in my
            living room, EchoWave always hits the right notes. It's like having
            a personal DJ who just gets me."
          </p>
          <h3 class="testimonials__author">John Lolack</h3>
        </div>
      </li>
      <li class="testimonials__item">
        <img
          class="testimonials__image"
          src="./images/index/testimonials/user-feedback-04.png"
          alt="User feedback"
        />
        <div class="testimonials__content">
          <p class="testimonials__text">
            "EchoWave is not just a radio station; it's a companion on my
            journey to better mental health. The insightful interviews, personal
            stories, and practical tips provide a comforting space for
            self-reflection and growth."
          </p>
          <h3 class="testimonials__author">Emma Thompson</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
