<section class="episodes__hero">
  <div class="episodes__card">
    <img
      class="episodes__card-image"
      src="./images/index/broadcasts/podcast-02.webp"
      alt="girl singing"
    />
    <div class="episodes__card-content">
      <h2 class="episodes__card-title">Podcast 80: Mind Matters</h2>
      <ul class="episodes__card-info">
        <li class="episodes__social-item">
          <svg class="episodes__social-icon" width="20" height="20">
            <use href="./images/sprite.svg#icon-calendar"></use>
          </svg>
          <span class="episodes__card-date">November 23, 2023</span>
        </li>

        <li class="episodes__social-item">
          <svg class="episodes__social-icon" width="20" height="20">
            <use href="./images/sprite.svg#icon-headphones"></use>
          </svg>
          <span class="episodes__card-name">Harmony Jones</span>
        </li>
      </ul>
      <p class="episodes__card-text">
        Delve into conversations with experts, personal stories of resilience,
        and practical tips, and the best music for maintaining a healthy mind.
      </p>
      <a class="episodes__button" href="#">
        Play Episode
        <svg
          viewBox="0 0 100 100"
          width="25"
          height="25"
          fill="var(--main-color)"
        >
          <polygon points="35.783,69 35.783,29 69,49.143 "></polygon>
        </svg>
      </a>
    </div>
  </div>

  <div class="episodes__card">
    <img
      class="episodes__card-image"
      src="./images/index/broadcasts/podcast-03.webp"
      alt="podcast"
    />
    <div class="episodes__card-content">
      <h2 class="episodes__card-title">Podcast 75: Artistry Unveiled</h2>
      <ul class="episodes__card-info">
        <li class="episodes__social-item">
          <svg class="episodes__social-icon" width="20" height="20">
            <use href="./images/sprite.svg#icon-calendar"></use>
          </svg>
          <span class="episodes__card-date">October 12, 2023</span>
        </li>

        <li class="episodes__social-item">
          <svg class="episodes__social-icon" width="20" height="20">
            <use href="./images/sprite.svg#icon-headphones"></use>
          </svg>
          <span class="episodes__card-name">Amanda Poe</span>
        </li>
      </ul>
      <p class="episodes__card-text">
        We unravel the stories behind art masterpieces, delve into the creative
        process, and interview famous visionaries from various artistic realms.
      </p>
      <a class="episodes__button" href="#">
        Play Episode
        <svg
          viewBox="0 0 100 100"
          width="25"
          height="25"
          fill="var(--main-color)"
        >
          <polygon points="35.783,69 35.783,29 69,49.143 "></polygon>
        </svg>
      </a>
    </div>
  </div>

  <div class="episodes__card">
    <img
      class="episodes__card-image"
      src="./images/index/broadcasts/podcast-04.webp"
      alt="studio recording"
    />
    <div class="episodes__card-content">
      <h2 class="episodes__card-title">Podcast 69: Mindful Musings</h2>
      <ul class="episodes__card-info">
        <li class="episodes__social-item">
          <svg class="episodes__social-icon" width="20" height="20">
            <use href="./images/sprite.svg#icon-calendar"></use>
          </svg>
          <span class="episodes__card-date">October 2, 2023</span>
        </li>

        <li class="episodes__social-item">
          <svg class="episodes__social-icon" width="20" height="20">
            <use href="./images/sprite.svg#icon-headphones"></use>
          </svg>
          <span class="episodes__card-name">Harry Jones</span>
        </li>
      </ul>
      <p class="episodes__card-text">
        Whether you're curious about the mind or seeking practical advice, this
        podcast is your go-to source for navigating psychology's rich landscape.
      </p>

      <a class="episodes__button" href="#">
        Play Episode
        <svg
          viewBox="0 0 100 100"
          width="25"
          height="25"
          fill="var(--main-color)"
        >
          <polygon points="35.783,69 35.783,29 69,49.143 "></polygon>
        </svg>
      </a>
    </div>
  </div>
</section>
